In [1]:
#Q1. Create one variable containing following type of data:
#(i) string
#(ii) list
#(iii) float
#(iv) tuple

#Answer:-

a="shiv"
l=[12,1.2,True,"pw",4+5j]
b=22.2
c=(90,"tup",2.2)
print(type(a), type(l), type(b), type(c))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

In [2]:
##Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.
#What will be the data type of the above given variable.
#Answer
#(1) string
#(2) string
#(3)list
#(4)float

In [3]:
###Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [4]:
#(1) /, it gives the Quotient in the Output.
30/3

10.0

In [5]:
#(2) %, it gives the remainder.
44%3

2

In [6]:
#(3) //, it gives the quotient by making it to equivalent integer.
10//2

5

In [7]:
#(4) **,it is a exponential operator, which takes the right hand side value to the poqer of the left hand side value.
3**2

9

In [8]:
##Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.
list = [1,2.3,45+2j,6,"shiv",True,4.6,2+3j,"linkdin",9999]
for i in list :
    print(i,type(i))

1 <class 'int'>
2.3 <class 'float'>
(45+2j) <class 'complex'>
6 <class 'int'>
shiv <class 'str'>
True <class 'bool'>
4.6 <class 'float'>
(2+3j) <class 'complex'>
linkdin <class 'str'>
9999 <class 'int'>

In [10]:
###Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.
a=int(input("a"))
b=int(input("b"))
while a%b==0:
    print('a is purely divisible by b', 'and a is divisible by b for', a/b, 'times')
    break
else:
    print('a is not divisible by b')

a 44
b 4

a is purely divisible by b and a is divisible by b for 11.0 times

In [11]:
##Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.
a=[1,22,33,45,51,6,72,81,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if i%3==0:
        print(i, 'is divisible by 3')
    else:
            print(i, 'is not divisible by 3')

1 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
45 is divisible by 3
51 is divisible by 3
6 is divisible by 3
72 is divisible by 3
81 is divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [12]:
###Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.
#Answer:-
#immutable data type:- A data type which cannot be eddited without affecting the object’s identity.
#example

In [15]:
a1=("shiv",2,44)

In [16]:
type(a1)

tuple

In [17]:
a1[0]="pw"

TypeError: 'tuple' object does not support item assignment

In [18]:
##Mutable data type: A data type which can be eddited without affecting the object's identity.
l=["pwskill's",22,33,3.3]

In [19]:
type(l)

list

In [20]:
l[0]="shiv"

In [21]:
l

['shiv', 22, 33, 3.3]